* {
    margin: 0px;
}

nav {

    height: 100px;
    background-color: brown;
    margin: 0px;
}



li {
    display: inline-block color;
}

header {
    margin: 0px;
    height: 400px;
    background-color: aquamarine;
}

h2 {
    margin: 20px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

article {
    height: 300px;
    border: 2px solid blue
}

aside {
    width: 400px;
    height: 700px;

    float: left;
    border: 3px solid blue;

}

div {
    width: 650px;
    height: 700px;
    display: inline-block;
    border: 2px solid black
}

footer {
    height: 400px;
    background-color: lightblue;
}