* {
    margin: 0px;

}

body {
    background-color: aliceblue;
}

nav {

    height: 60px;
    width: 100%;
    background-color: black;
    margin: 0px;
    color: aliceblue;
    position: fixed
}

#cv {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 50%;
    border: 1px solid white;
    float: left;
    background-color: black;
    text-justify: auto;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-right: 10;
    padding-left: 10;
    font-size: 25px;
}

nav ul li {
    float: left;
    margin-left: 90px;
    margin-top: 20px
}

li {
    display: inline-block color;
}

header {
    margin: 0px;
    height: 600px;
    background-color: #243CFA;
    color: aliceblue;
}

#titulo {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 80;
}

h2 {
    margin: 20px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#boton_datos {
    border: 1px solid white;
    background-color: #042232;
    margin-left: auto;
    display: block;
    margin-right: auto;
    padding: 4px;
    width: 300px;
    color: aliceblue
}

article {
    height: 300px;
    border: 2px solid blue;
    margin: 20px;
}

aside {
    width: 400px;
    height: 700px;

    float: left;
    background-color: blue;
    margin: 30px;
    color: aliceblue;

}

div {
    width: 650px;
    height: 700px;
    display: inline-block;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 70px;
}

footer {
    height: 400px;
    background-color: #243CFA;
    color: aliceblue;
    font-size: 20px;
}

#notas {
    border: 0px;
    height: 250px;
    width: 280px;
    float: left;
    margin: 30px;

}

#compu {
    height: 250px;
    width: 280px;

}