* {
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-color: aliceblue;
    font-family: 'Questrial', sans-serif;
}

nav {

    height: 60px;
    width: 100%;
    background-color: black;
    margin: 0px;
    color: aliceblue;

}


#cv {
    height: 40%;
    width: 22px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 50px;


    float: left;
    background-color: black;
    text-justify: auto;
    color: lightblue;
    text-align: center;
    padding-top: 10px;
    padding-right: 10;
    padding-left: 10;
    font-size: 2rem;
}

nav ul li {
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    list-style-type: none;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;


}


nav ul li:hover {
    background-color: blue;

}


nav a {
    color: aliceblue;
    text-decoration: none;
}

li {
    display: inline-block color;
}

@media screen and (max-width: 650px) {
    nav ul li {
        margin-left: 10px;
    }
}

header {
    margin: 0px;
    height: 100vh;

    color: aliceblue;
    background-image: linear-gradient(to right, #38CEFF, #243cfa);
}


#titulo {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;


}

h2 {
    margin: 20px;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

header p {
    text-align: center;
}

#boton_datos {
    border: 1px solid white;
    background-color: #222;
    margin-left: auto;
    display: block;
    margin-right: auto;
    padding: 15px;
    width: 300px;
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;

}

#boton_datos:hover {
    background-color: lightblue;
}

#para_datos {
    height: 60px;
    width: 100%;
    margin-top: 20px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, #38CEFF, #243cfa);
}



#datos1 {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 50px;

}

article {
    height: 350px;
    background-color: #222;
    color: aliceblue;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    overflow: scroll;


}

article h2 {
    font-size: 35px
}

article p {
    font-size: 25px;
    padding: 15px;
    text-align: justify;
}




aside {
    width: 300;
    height: 700px;
    border-radius: 10px;

    float: left;
    background-image: linear-gradient(to right, darkblue, #243cfa);
    margin-top: 90px;
    margin-left: 40px;
    margin-bottom: 50px;
    color: aliceblue;
    box-shadow: 10px 10px 15px #222;

}

aside h3 {
    text-align: center;
    margin-top: 25px;

}

aside ul li {
    padding: 12px;
    margin-left: auto;
}

#experiencia {
    margin-top: 60px;
    width: 600px;
    height: 700px;
    display: inline-block;
    border: 2px solid black;
    margin-top: 90px;
    margin-left: 70px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 20px #222;

}

#experiencia ul li {
    padding: 7px;
}

#experiencia h2 {
    color: #B11414;
}

#experiencia h3 {
    text-align: center;
}

#formulario {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 720px;
    width: 1000px;
    border: 1 px solid black;
    background-image: url(https://cdn.pixabay.com/photo/2014/04/05/09/30/tablet-314153_960_720.png);
}

@media screen and (max-width: 900px) {
    #formulario {
        background-image: none;
        width: 500px;
        height: 500px;
    }
}

#container_form {
    display: inline-block;
    margin-left: 300px;
    margin-top: 92px;
    width: 50%;
    height: 45%;
    background-color: #0D1B2E;
    opacity: 0.9;


}

@media screen and (max-width: 900px) {
    #container_form {
        width: 500px;
        height: 450px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

#container_form label {
    display: block;
    margin-top: 10px;
    color: aliceblue;
    padding-left: 50px;
}

input[type=text],
select {
    width: 80%;
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 80%;
    background-color: blue;
    color: white;
    padding: 10px 10px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightblue;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    margin-top: 30px;
    height: 400px;
    background: #243cfa;

    color: aliceblue;
    font-size: 20px;
}

#notas {
    border: 0px;
    height: 250px;
    width: 250px;
    float: left;
    margin: 40px;
    background: #243cfa;
}

#compu {
    height: 250px;
    width: 250px;
    margin: 0px;
    padding: 0px;



}

@media screen and (max-width: 1080px) {
    #notas {
        display: none;
    }

}

#notas2 {
    height: 350px;
    width: 700px;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block;

    background: #243cfa;
    border: 1px solid white;
}

#notas2 h2 {
    margin-top: 30px;
    display: inline-flex;
    text-align: center;
}

#notas2 ul li {
    padding: 10px;
    margin-left: 10px;

    font-size: 15px;


}